<!-- <form [formGroup]="form">
<mat-form-field  appearance="fill">
  <mat-label>Dropdown 1</mat-label>
  <mat-select formControlName="dropdown1">
    @for (option of optins2; track option) {
      <mat-option [value]="option">{{option.id}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field  appearance="fill">
  <mat-label>Dropdown 2</mat-label>
  <mat-select formControlName="dropdown2">
    @for (option of optins2; track option) {
      <mat-option [value]="option">{{option.id}}</mat-option>
    }
  </mat-select>
</mat-form-field>
</form>
<router-outlet></router-outlet> -->
<!-- <form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Dropdown 1</mat-label>
    <mat-select formControlName="dropdown1">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Dropdown 2</mat-label>
    <mat-select formControlName="dropdown2">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
<!-- </form> -->
 <app-parent></app-parent>
 <router-outlet></router-outlet>
